{% extends 'base.html' %}
{% block content %}

<div id="app-booth">
    <h1>Crear Votacion</h1>
    {{error}}
    <form method="POST" action="/voting/crear">
        {% csrf_token %}
        {{form.as_p}}
        <br />
        <button class="btn btn-secondary btn-lg" type="submit"
            onclick="return confirm('¿Seguro que quieres crear la votacion?');">Crear</button>
    </form>
</div>
<br />
<button class="btn btn-secondary btn-lg"><a href="{% url 'voting_list' %}">Volver al listado</a></button>

{% endblock %}