{% extends 'base_dashboard.html' %}
{% block content %}

<div id="app-booth">
    <h1>Create Vote</h1>
    {{error}}
       
    <form method="POST">
   
        {% csrf_token %}
        {{form.as_p}} 
        
        <br />
         <button class="btn btn-secondary btn-lg"><a href="{% url 'crear_preguntas' %}">Add Question</a></button>
         <button class="btn btn-secondary btn-lg"><a href="{% url 'create_auth' %}">Add Auth</a></button>

         <button class="btn btn-secondary btn-lg" type="submit"
            onclick="return confirm('Are you sure you want to create a vote??');"><a>Create</a></button>
    </form>
</div>
<br />
<button class="btn btn-secondary btn-lg"><a href="{% url 'voting_list' %}">Back to list</a></button>

{% endblock %}