{% extends 'base_dashboard.html' %}
{% block content %}

<div id="app-booth">
    <h1>Crear Pregunta</h1>
    {{error}}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <br />
        <button class="btn btn-secondary btn-lg" type="submit"
            onclick="return confirm('¿Seguro que quieres crear la pregunta?');">Crear</button>
    </form>
</div>
<br />
<button class="btn btn-secondary btn-lg"><a href="{% url 'preguntas' %}">Volver al listado</a></button>

{% endblock %}