{% extends 'base_dashboard.html' %}
{% block content %}
<div>
    {% if preguntas.count > 0 %}
    <table border="5" style="margin: 0 auto;">
        <tr>
            <td>Descripción</td>
            <td>Acción</td>
        </tr>
        {% for p in preguntas %}
        <tr>
            <td><a href="{% url 'showUpdateQuestions' p.id %}">{{p.desc}}</a></td>
            <td><a class="fa fa-trash-o" href="{% url 'borrar_preguntas' p.id %}" 
                onClick="return confirm('¿Quieres borrar la pregunta cuya Descripción es {{p.desc}}?');">
                    Borrar
                </a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <button class="btn btn-secondary btn-lg"><a href="{% url 'crear_preguntas' %}">Crear pregunta</a></button>    
</div>

{% endblock %}