{% extends 'base_dashboard.html' %}
{% block content %}

<h2>La pregunta elegida ha sido la: {{pregunta.desc}}</h2>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <script>
            function myFunction() {
            const element = document.getElementById("plus");
            const element2 = document.getElementById("plus2");
            element.innerHTML += element2.innerHTML;
            }
            </script>
                <div id = "plus">
                  
                    {{form2.as_p}}
                    </div>
        <div id = "plus2">
            {% csrf_token %}
            {{form2.as_p}}
            </div>

        <br /> 
         <button onclick="myFunction()">Plus</button>

    <button class="btn btn-secondary btn-lg" type="submit">Update</button>
</form>

<button class="btn btn-secondary btn-lg"><a href="{% url 'preguntas' %}">Back to list/a></button>
{% endblock %}