{% extends 'base.html' %}
{% block content %}

<br />
<div>
    {% if voting.count > 0 %}
    <table border="5" style="margin: 0 auto;">
        <tr>
            <td>Id Pregunta</td>
            <td>Id Votacion</td>
        </tr>
        {% for v in voting %}
        <tr>
            <td><a href="{% url 'voting_details' v.id %}">{{v.id}}</a></td>
            <td>{{v.name}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <button class="btn btn-secondary btn-lg"><a href="{% url 'crear_voting' %}">Crear votacion</a></button>
</div>
{% endblock %}