{% extends 'base_dashboard.html' %}
{% block content %}

<br />
<div>
    {% if voting.count > 0 %}
    <table border="5" style="margin: 0 auto;">
        <tr>
            <td>Id Votacion</td>
            <td>Name</td>
        </tr>
        {% for votacion in voting %}
        <tr>
            <td><a href="{% url 'voting_details' votacion.id %}">{{votacion.id}}</a></td>
            <td>{{votacion.name}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <button class="btn btn-secondary btn-lg"><a href="{% url 'crear_voting' %}">Crear votacion</a></button>
</div>

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Ordenar por:
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'sort_by_name' %}">Título</a></li>
            {{sorted_voting}}
            <!-- <li><a class="dropdown-item" href="{% url 'voting_list' %}">Creadas recientemente</a></li>
            <li><a class="dropdown-item" href="{% url 'censo' %}">Finalizadas recientemente</a></li> -->
        </ul>
{% endblock %}
