{% extends "authentication/login.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
{% endif %}
{% if user.is_authenticated %}
    <div id="already-auth"> <p   id="already-auth" >You are already logged in as {{user.username}}</p></div>
    <a href="/authentication/logoutuser/">Logout </a>
    <br>
    <a href="/authentication/loginuser/">Go back </a>
{% else %}  
<form method="post">
  {% csrf_token %}
  <button type="submit">{% trans "Continue" %}</button>
</form>

<br><br>
<a href="/authentication/loginuser/"> Go back </a>
{% endif %}
{% endblock %}
