{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
    href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />

    <!-- Importacion de Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>

{% endblock %}

{% block content %}

    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>
    </div>

    <div id="graphic-visualizer" class="grafica voting container">
        <h1>Representación gráfica de resultados de la votación</h1>

        <h2>Gráfica de barras:</h2>
        <canvas id="grafica"></canvas>

        <h2>Gráfica tipo donut:</h2>
        <canvas id="grafica2"></canvas>
    </div>

{% endblock %}

{% block extrabody %}

    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@2.7.10"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })

        //Extracción de datos para gráficas//

        var opcionesVotacion = []
        var resultadosVotacion = []

        const procesado = voting.postproc
        const tam = procesado.length

        var i = 0
        while(i < tam) {
            opcionesVotacion.push(procesado[i].option)
            resultadosVotacion.push(procesado[i].votes)

            i += 1;               
        }
    </script>

    <!-- Muestreo de gráficas-->
    <script>
        const datosVotaciones = {
            label: "Votos por opción",
            data: resultadosVotacion,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 5,
        }
        
        //Gráfica de barras
        const $grafica = document.getElementById("grafica");

        new Chart($grafica, {
            type: 'bar',
            data: {
                labels: opcionesVotacion,
                datasets: [
                    datosVotaciones,
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                },
            }
        });

        //Gráfica tipo donut
        const $grafica2 = document.getElementById("grafica2");

        new Chart($grafica2, {
            type: 'pie',
            data: {
                labels: opcionesVotacion,
                datasets: [
                    datosVotaciones,
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                },
            }
        });
    </script>

</body>
{% endblock %}

