{% extends 'base_dashboard.html' %}

{% block extrahead %}
<STYLE>
  A {
    text-decoration: none;
  }
</STYLE>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock extrahead %}

{% block content %}
<center>
  <h3><strong>Census</strong></h3>
</center>
<div class="alert alert-light" role="alert" style="width: 95.5%;display: grid;
  justify-content: right;margin-bottom: 1px;">
  <a class="btn btn-outline-dark" href="{% url 'crear_censo' %}">New Census</a>
</div>

<div class="input-group container justify" style="width: 90%;margin-bottom: 9px;">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
    <li class="nav-item me-3 me-lg-0 dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Order by:
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'sorted_by_voting' %}">Voting</a></li>
        <li><a class="dropdown-item" href="{% url 'sorted_by_voter' %}">Voter</a></li>
      </ul>
    </li>
    </li>
  </ul>
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1" style="height: 41px;margin-right: 4px;">
      <i class="fa fa-search"></i>
    </span>
  </div>
  <input id="myInput" type="text" class="form-control" aria-describedby="basic-addon1">
  <hr>
</div>

<div class="container justify" style="width: 90%;">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Voter Id</th>
        <th>Voting Id</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for c in censos %}
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{c.voter_id}}</p>
            </div>
          </div>
        </td>

        <td>
          <p class="fw-normal mb-1">{{ c.voting_id}}</p>
        </td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            <a class="item" href="{% url 'censo_details' c.id %}">Edit</a>
          </button>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-link btn-sm btn-rounded"
            onClick="return confirm('¿Are you sure you want to delete {{c.voting_id}}?');">
            <a class="item" href="{% url 'borrar_censo' c.id %}">Delete</a>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    {% include 'paginator.html' %}
  </div>
</div>
{% endblock content %}

{% block extrabody %}
<script>
  //Copiado de https://sutilweb.com/lenguajes/bootstrap/bootstrap-4/boostrap-4-filtros/
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

{% endblock extrabody %}