{% extends 'base_dashboard.html' %}
{% block content %}

<br />
    <div class='card-body'>
    <table class='table table-striped table-hover table-responsive-sm'>
        <tr>
            <td>Id Votacion</td>
            <td>Id Usuario</td>
        </tr>
        {% for censo in censos %}
        <tr>
            <td><a href="{% url 'censo_details' censo.id %}">{{censo.voting_id}}</a></td>
            <td>{{censo.voter_id}}</td>
            <td><a href="{% url 'borrar_censo' censo.id %}" 
                 onClick="return confirm('¿Quieres borrar el censo cuya votacion es {{censo.voting_id}}?');">
                    Borrar
                    </a></td>
            </tr>
            {% endfor %}
        </table>
    <div>
        {% include 'paginator.html' %}
    </div>

    <button class="btn btn-secondary btn-lg"><a href="{% url 'crear_censo' %}">Crear censo</a></button>
</div>
{% endblock %}