{% extends 'base_dashboard.html' %}

{% block extrahead %}
{% endblock %}

{% block content %}

    <div class="top-header">
        <h1 class="top-title">IMPORT</h1>
    </div>


    <h3> Add the excel here</h3>
    <p> Revisa que el formato sea el adecuado antes de pulsar en "Submit"</p>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" requered name="file">
        <button onclick="return confirm('Success!')" type="submit">Submit</button>
    </form>
    {% endblock %}
